body{font-size: 35px;
	background-image: url('background.jpe');
	background-repeat:no-repeat ;
	background-position:top ;
	background-size: cover;
backface-visibility: visible;
	font-size: 38px; 
	text-align:center;
border-color: black;
	
}


h1{


}
